$pc1: #121212;
$pc2: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding :0;
}

html {
    font-family: 'Roboto Mono', monospace;

}

ul {
    list-style: none;
}
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    background-color: #121212;
    color: #fff;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: auto;
}

aside {
    height: 100vh;
    width: 20%;
}

main {
    width: 80%;
}

.project__list {
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid $pc2;
    cursor: default;

    .year {
        padding-right: 10px;
    }

    .project__name:hover {
        font-style: italic;
    }

}